[submodule "external/rootpy"]
	path = external/rootpy
	url = git://github.com/rootpy/rootpy.git
[submodule "external/RooUnfold"]
	path = external/RooUnfold
	url = git@github.com:kreczko/RooUnfold.git
[submodule "external/virtualenv"]
	path = external/virtualenv
	url = git://github.com/pypa/virtualenv.git
