*.pyc
*.pyo
*.log
#these two potentially include non-approved data == don't make them public
src/plots/*
examples/plots/*
src/data/*
src/log_*
src/*.root
src/*.png
src/*.pdf
tools/*.png
# generated during setup
external/vpython/
external/lib
config/RooUnfold.py
#eclipse settings
.settings
