.pydevproject
*.pyc
*.pyo
*.log
#these four potentially include non-approved data == don't make them public
src/plots/*
examples/plots/*
experimental/plots/
experimental/data/
src/data/*
experimental/data/*
src/log_*
src/*.root
src/*.png
src/*.pdf
tools/*.png
# generated during setup
external/vpython/
external/lib
config/RooUnfold.py
#eclipse settings
.settings
