.pydevproject
*.pyc
*.pyo
*.log
*.png
*.pdf
*.root
*.out
*.o
*.tar*
*~
.DS_Store
#data, plots and tables potentially include non-approved data == don't make them public
**/data*/*
data
tables
plots*/*
**/tables*/*
src/cross_section_measurement/data/
src/unfolding_tests/plots/
src/log_*
# generated during setup
external/vpython/
external/lib
external/TopAnalysis/libTopSVDUnfold.rootmap
external/TopAnalysis/libTopSVDUnfold.so
config/RooUnfold.py
config/TopSVDUnfold.py
config/unfolding/*
#eclipse settings
.settings
jobs
config/measurements
